header{
  display:flex;
  justify-content:space-around;
  align-items: center;
  height: 100px;
  margin: 0;
}

.logo {
  height: 85px;
  width: 285px;
}

.inquiry{
  display:flex;
  align-items: center;
}

.tel{
  font-size: 10px;
  color: #6C757D;
}

.tel_number{
  font-size: 25px;
  color: #6C757D;
}

.btn {
  height: 48px;
  width: 136px;
  background-color: #6C757D;
  color :white;
  text-decoration: none;
  margin: auto 24px;
  padding:12px;
  border-radius: 5px;
}

.list{
height:56px;
width: 100vw;
margin: 0;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: black;
  height: 100%;
  align-items: center;
}

.sub{
  color: #6C757D;
  text-decoration: none;
}

li{
  width :48px;
  margin: 0 36px;
}

.back_ground{
  background-image: url("image/top-image.jpeg");
  height: 600px;
  position: relative;
}

.message {
  background-color: white;
  width :552px;
  height : 264px;
  margin-left: 50vw;
  border: none;
  border-radius: 5px;
  position: absolute;
  top :66px;
  padding: 28px 20px 40px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 15px;
}